

.grid-element {
    display: grid;
    grid-template-rows: 70px 696px 696px 696px 70px;
    grid-template-columns: 920px 520px;
    row-gap: 56px;
    column-gap: 50px;
  }
  
  .inicio {
    position: relative;
    width: 1440px;
    height: 2428px;
    background-color: #f5f5f5;
    color:black;
  } 

  .cabecalho {
 grid-column-start: 1;
 grid-column-end: 3;
 display: flex;
 justify-content: space-between;
 background-color: violet;
  }

.links {
    align-self: center;
    margin-right: 169px;
    font-size: 14px;
    font-family: open sans-serif;
    font-weight: 400px;
    display: grid;
    grid-template-columns: 24px 24px 24px;
    column-gap: 48px;
    
}

.linksline {
    text-decoration:none;
    color: black;
}

.linksline2 {
    text-decoration:none;
}

.linksline2:hover {
    color: white;
}

  .card1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: yellow;
    margin-left: 140px;
  }

  .card2 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: chartreuse;
    margin-right: 140px;
    display: grid;
    grid-template-columns: 380px;
    grid-template-rows: 52px 362px 857px;
    row-gap: 25px;
  }

.card3 {
    background-color: blue;
    margin-left: 140px;
}


.card4 {
    background-color: coral;
    margin-left: 140px;
}


  .card5 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
width: 218,01px;
height: 42,6px;
align-self: center;
margin-left: 140px;
  }

  .img {
      width: 100%;
  }

  .texto1 {
font-size: 24px;
margin-left: 24px;

  }

  .p1 {
      font-family: open sans-serif;
      font-size: 12px;
      font-weight: 400px;
      margin-left: 24px;
    
  }

  .p2 {
    font-family: open sans-serif;
    font-size: 14px;
    font-weight: 400px;
    margin-left: 24px;
    margin-right: 24px;
  
}

.copy {
    font-family: open sans-serif;
    font-size: 14px;
    font-weight: 400px;
}

.button {
    all: unset;
    border-radius: 20px;
    border: 1px solid #FE0078;
    box-sizing: border-box;
    width: 154px;
    height: 43px;
    margin-left: 600px;
    margin-top: 24px;
    position: absolute;
    text-align: center;
    font-family: open sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 400px;
    cursor: pointer;  
}

.button:hover {
 background-color: #FE0078;
 color: white;

}

.categoria {
    display: grid;
    grid-template-columns: 340px;
    grid-template-rows: 38px 42px 42px 42px 42px 42px 42px;
    line-height: 10px;
}

.espaco {
    display: flex;
    justify-content: space-between;
    margin-left: 33px;
    align-items: center;
    font-family: open sans-serif;
    font-size: 14px;
}

.barra {
    width: 2px;
    height: 38px;
    background-color: #FE0078;
    margin-left: 20px;
}

.flex2 {
    display: flex;
}

.categoria2 {
    margin-left: 13px;
    align-self: center;
    font-family: open sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.publicidade {
 display: grid;
 grid-template-columns: 340px;
 grid-template-rows: 38px 240px 240px 240px;
 row-gap: 20px;
}

.img2 {
width: 340px;
height: 240px;
margin-left: 20px;
} 

.pesquisa {
margin: 20px 20px 20px 20px;
width: 340px;
font-family: open sans-serif;
font-weight: 400;
font-size: 14px;
border: 1px solid #EEEEEE;
box-sizing: border-box;
border-radius: 10px;
}